.background-img {
  background-image: url('../../../../../assets/stock-photo-213338269.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.card {
  height: 350px;
}
