<div class="container-fluid">
  <div class="row justify-content-center text-center mb-3">
    <h1>Usuarios</h1>
  </div>
  <div class="row justify-content-center">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th>Legajo</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>4556456</td>
          <td>Araceli</td>
          <td>Scotty</td>
          <td>ascotty@clase4.com</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
