<nav class="navbar navbar-dark navbar-expand-lg bg-dark fixed-top w-100">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Clase5</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/users" routerLinkActive="active">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/roles" routerLinkActive="active">Roles</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar usuarios" aria-label="Buscar usuarios">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
<div class="container-fluid" style="padding-top: 70px;">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
